<form [formGroup]="appointmentForm" (ngSubmit)="handleSubmit()">
  <app-modal [isOpen]="showModal" (close)="onClose()">
    <modal-header>
      <strong> Nieuwe sessie </strong>
    </modal-header>
    <modal-content>
      <app-input [controlName]="'title'" label="Title" i18n-label="@@scheduler.label.title" [required]="true">
        <input id="title" type="text" name="title" formControlName="title" [attr.aria-invalid]="title | invalid" />
      </app-input>
      <app-input [controlName]="'description'" label="Description" i18n-label="@@scheduler.label.description">
        <textarea id="description" formControlName="description" [attr.aria-invalid]="description | invalid"></textarea>
      </app-input>
      <app-input [controlName]="'location'" label="Location" i18n-label="@@scheduler.label.location">
        <input id="location" type="text" formControlName="location" [attr.aria-invalid]="location | invalid" />
      </app-input>
      <app-input [controlName]="'start'" label="Start" i18n-label="@@scheduler.label.start">
        <input id="start" type="datetime-local" formControlName="start" [attr.aria-invalid]="start | invalid" />
      </app-input>
      <app-input [controlName]="'end'" label="End" i18n-label="@@scheduler.label.end">
        <input id="end" type="datetime-local" formControlName="end" [attr.aria-invalid]="end | invalid" />
      </app-input>
      <app-input
        [controlName]="'type'"
        label="Type"
        [attr.aria-invalid]="type | invalid"
        i18n-label="@@scheduler.label.type"
      >
        <select name="type" id="type" formControlName="type">
          <option value="Individual">Individueel</option>
          <option value="Group">Groep</option>
        </select>
      </app-input>
      @if (type?.getRawValue() === 'Group') {
        <app-input
          [controlName]="'capacity'"
          [required]="true"
          label="Capacity"
          i18n-label="@@scheduler.label.capacity"
        >
          <input id="capacity" type="number" formControlName="capacity" [attr.aria-invalid]="capacity | invalid" />
        </app-input>
      }
    </modal-content>
    <modal-footer>
      <button [attr.aria-busy]="savingSession" type="submit" i18n>Confirm</button>
    </modal-footer>
  </app-modal>
</form>
@if (appointments.error()) {
  <app-alert [dismissible]="true" type="danger" [message]="appointments.error()?.message ?? ''"></app-alert>
}

<app-scheduler
  [loading]="appointments.isLoading()"
  [appointments]="appointments.value() ?? []"
  (appointmentCreate)="onAppointmentCreate($event)"
  (appointmentUpdate)="onAppointmentUpdate($event)"
  (loadAppointments)="loadAppointments($event)"
></app-scheduler>
