<form [formGroup]="appointmentForm" (ngSubmit)="handleSubmit()">
  <app-modal [isOpen]="showModal" (close)="onClose()">
    <modal-header>
      @if (isEditing) {
        <strong i18n="editSession">Edit session</strong>
      }
      @if (!isEditing) {
        <strong i18n="createSession">Create session</strong>
      }
    </modal-header>
    <modal-content>
      <app-session-form-fields [form]="appointmentForm"></app-session-form-fields>
    </modal-content>
    <modal-footer>
      <button [attr.aria-busy]="savingSession" type="submit" i18n>Confirm</button>
    </modal-footer>
  </app-modal>
</form>
@if (sessions.error()) {
  <app-alert [dismissible]="true" type="danger" [message]="sessions.error()?.message ?? ''"></app-alert>
}

<app-scheduler
  [loading]="sessions.isLoading()"
  [appointments]="appointments() ?? []"
  (appointmentCreate)="onAppointmentCreate($event)"
  (appointmentUpdate)="onAppointmentUpdate($event)"
  (loadAppointments)="loadAppointments($event)"
></app-scheduler>
