<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <app-input formControlName="email" label="Email">
    <input id="email" type="email" placeholder="Email" formControlName="email" [attr.aria-invalid]="email | invalid" />
  </app-input>
  <app-input formControlName="password" label="Password">
    <input
      id="password"
      type="password"
      placeholder="Password"
      formControlName="password"
      [attr.aria-invalid]="password | invalid"
    />
  </app-input>
  <button [attr.aria-busy]="loading" type="submit" [disabled]="loading">Login</button>
  @if (error) {
    <app-alert [dismissible]="true" type="danger" [message]="error"></app-alert>
  }
  @if (success) {
    <app-alert [dismissible]="true" type="success" message="Login success!"></app-alert>
  }
</form>
