@model LBB.OC.Reservation.ViewModels.IndexVM
<h1>Hello World</h1>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Session
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    @await Html.PartialAsync("Session/_CreateSession", Model.CreateSessionVM)
</div>

@foreach (var session in Model.Sessions)
{
    <p>@session.Title</p>
    <p>@session.Description</p>
}

<script>
    window.addEventListener("alpine:init", () => {
        console.log("alpine init");
    })
</script>