@if (reservation() != null) {
  <form [formGroup]="reservationForm" (ngSubmit)="saveReservation()">
    <app-modal [isOpen]="true" (close)="reservation.set(null)">
      <modal-header>
        <h4>Add reservation</h4>
      </modal-header>
      <modal-content>
        <app-reservation-form [form]="reservationForm"></app-reservation-form>
      </modal-content>
      <modal-footer>
        <button [attr.aria-busy]="savingReservation" type="submit" i18n>Confirm</button>
      </modal-footer>
    </app-modal>
  </form>
}
<article>
  <header>
    <div class="header-container">
      <div>
        <nav>
          <ul>
            <li><a routerLink="/scheduler">Back to scheduler</a></li>
          </ul>
        </nav>
        <h2>{{ session.value()?.title }}</h2>
      </div>
      <div class="button-container">
        @if (!editMode()) {
          <button class="secondary" (click)="enableEdit()">Edit</button>
        } @else {
          <button class="primary" (click)="save()" [attr.aria-busy]="saving()" [disabled]="saving()">Save</button>
          <button class="secondary" (click)="cancelEdit()" [disabled]="saving()">Cancel</button>
        }
        <button class="danger">Delete</button>
        <button class="primary" (click)="addReservation()">Add reservation</button>
      </div>
    </div>
  </header>

  <div>
    @if (session.isLoading()) {
      <p aria-busy="true">Loading...</p>
    } @else {
      @if (!editMode()) {
        <section>
          <p>{{ session.value()?.description }}</p>
          <p>
            <strong>When:</strong>
            {{ session.value()?.start | date: 'medium' }} - {{ session.value()?.end | date: 'shortTime' }}
          </p>
          <p><strong>Location:</strong> {{ session.value()?.location }}</p>
          <p>
            <strong>Type:</strong> {{ session.value()?.type }}
            <span class="contrast" style="margin-left: 0.5rem">Capacity: {{ session.value()?.capacity }}</span>
          </p>
          <p><strong>Reservations:</strong> {{ session.value()?.attendeeCount }}</p>
        </section>
      } @else {
        <form [formGroup]="form" (ngSubmit)="save()">
          <app-session-form-fields [form]="form"></app-session-form-fields>
        </form>
      }

      <section>
        <h3>Reservations</h3>
        @if (!reservations.value()) {
          <p>No reservations found.</p>
        } @else {
          <ul>
            @for (r of reservations.value(); track r.reference) {
              <li>
                <article>
                  <header>
                    <strong>{{ r.firstname }} {{ r.lastname }}</strong>
                  </header>
                  <p>
                    Attendees: {{ r.attendeeCount }}
                    <span class="secondary" style="margin-left: 0.5rem">{{ r.email }}</span>
                    <span class="secondary" style="margin-left: 0.5rem">{{ r.phone }}</span>
                  </p>
                </article>
              </li>
            }
          </ul>
        }
      </section>
    }
  </div>
</article>
