<div [formGroup]="form">
  <app-input [controlName]="'title'" label="Title" i18n-label="@@scheduler.label.title" [required]="true">
    <input
      id="title"
      type="text"
      name="title"
      formControlName="title"
      [attr.aria-invalid]="title | invalid"
      i18n-placeholder="@@scheduler.placeholder.title"
      placeholder="Title of the session..."
    />
  </app-input>
  <app-input [controlName]="'description'" label="Description" i18n-label="@@scheduler.label.description">
    <textarea
      id="description"
      formControlName="description"
      [attr.aria-invalid]="description | invalid"
      placeholder="The description of the session..."
      i18n-placeholder="@@scheduler.placeholder.description"
    ></textarea>
  </app-input>
  <div class="form-group">
    <app-input [controlName]="'start'" label="Start" i18n-label="@@scheduler.label.start" [required]="true">
      <input id="start" type="datetime-local" formControlName="start" [attr.aria-invalid]="start | invalid" />
      @if (start?.hasError(Errors.LessThanDateError)) {
        <small i18n>Start time must be before end time</small>
      }
      @if (start?.hasError(Errors.NotEmptyError)) {
        <small class="error" i18n>Start time is required</small>
      }
    </app-input>
    <app-input [controlName]="'end'" label="End" i18n-label="@@scheduler.label.end" [required]="true">
      <input id="end" type="datetime-local" formControlName="end" [attr.aria-invalid]="end | invalid" />
      @if (end?.hasError(Errors.GreaterThanDateError)) {
        <small i18n>End time must be after start time</small>
      }
      @if (end?.hasError(Errors.NotEmptyError)) {
        <small i18n>End time is required</small>
      }
    </app-input>
  </div>
  <div class="form-group">
    <app-input [controlName]="'location'" label="Location" i18n-label="@@scheduler.label.location">
      <input
        id="location"
        type="text"
        formControlName="location"
        [attr.aria-invalid]="location | invalid"
        placeholder="The location of the session..."
        i18n-placeholder="@@scheduler.placeholder.location"
      />
    </app-input>
    <app-input
      [controlName]="'type'"
      label="Type"
      [attr.aria-invalid]="type | invalid"
      i18n-label="@@scheduler.label.type"
    >
      <select name="type" id="type" formControlName="type">
        <option value="Individual">Individueel</option>
        <option value="Group">Groep</option>
      </select>
    </app-input>
  </div>
  @if (type?.getRawValue() === 'Group') {
    <app-input [controlName]="'capacity'" [required]="true" label="Capacity" i18n-label="@@scheduler.label.capacity">
      <input id="capacity" type="number" formControlName="capacity" [attr.aria-invalid]="capacity | invalid" />
    </app-input>
  }
</div>
